<ion-header>
  <ion-navbar>
    <ion-title>CampaignFinder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked color="primary">Within Miles: </ion-label>
    <ion-input [(ngModel)]="withinMiles"></ion-input>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let distancedCampaign of sortedCampaigns">
      <campaign-preview *ngIf="+withinMiles + '' == 'NaN' || +withinMiles == '' || distancedCampaign.distance <= +withinMiles" [campaignPreviewInfo]="{ distance: distancedCampaign.distance, campaign: distancedCampaign.campaign }">
      </campaign-preview>
    </ion-item>
  </ion-list>
</ion-content>
