page-campaign {

  #camera-image {
    margin-left: 50vw;
    transform: translate(-50%, 10px);
    width: 20vh;
    height: 20vh;
    border-radius: 100vh;
  }

  #body {
    padding: 10px;
    text-align: center;
    transform: translate(0vw, 5vh);
  }

  #description {
    min-height: 20vh;
    border: thin;
    border-color: black;
    border-style: solid;
  }
}
