page-home {

  /*ion-header {
    background: #6A6A61 !important;

    ion-navbar {
      background: inherit;

      ion-title {
        background: inherit;
      }
    }
  }

  ion-content {
    background: #DDDCC5 !important;
  }

  ion-label {
    color: #34171B;
  }*/
}
