<ion-header>
  <ion-navbar>
    <ion-title *ngIf="userInfo" style="text-align: center">{{userInfo.displayName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img *ngIf="userInfo && userInfo.imageUrl && (userInfo.imageUrl | async) as image" src={{image}} id="profile-image" />
  <div id="body">
    <h2>Campaigns You Own</h2>
    <ion-list>
      <ion-item *ngFor="let campaign of yourCampaigns">
        <campaign-preview *ngIf="accountInfo.getUid() == campaign.contract.ownerUid" [campaignPreviewInfo]="{ campaign: campaign }"></campaign-preview>
      </ion-item>
    </ion-list>
    <button ion-button full primary (tap)="createCampaign()">Create A New Campaign</button>

    <div style="transform: translate(0vw, 10vh)">
      <h2>Campaigns You Are In</h2>
      <ion-list>
        <ion-item *ngFor="let campaign of yourCampaigns">
          <campaign-preview *ngIf="accountInfo.getUid() != campaign.contract.ownerUid" [campaignPreviewInfo]="{ campaign: campaign }"></campaign-preview>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button full primary (tap)="findNewCampaign()">Find Campaigns</button>
          </ion-col>

          <ion-col>
            <button ion-button full primary (tap)="logout()">Logout</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
