<ion-item (tap)="viewCampaign()">
  <ion-avatar item-start>
    <img src={{campaignPreviewInfo.campaign.contract.image}}>
  </ion-avatar>
  <h1>{{campaignPreviewInfo.campaign.contract.name}}</h1>
  <p> Meeting Time: {{campaignPreviewInfo.campaign.contract.meetingTime}} </p>
  <p> Current Players: {{campaignPreviewInfo.campaign.contract.currentPlayers.length}} </p>
  <p> Desired Players: {{campaignPreviewInfo.campaign.contract.playersWanted}} </p>
  <p *ngIf="campaignPreviewInfo.hasOwnProperty('distance')">Distance: {{campaignPreviewInfo.distance}} Miles</p>
</ion-item>
